---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ritchot.me</title>
  </head>
  <body>
    <h1>ritchot.me</h1>
  </body>
</html>
